<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shop detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="shopInfo">
    <ion-card-header>
      ข้อมูลร้าน
    </ion-card-header>
    <ion-card-content>
        ร้าน
        {{ shopInfo.name }}
        รายละเอียด
        {{ shopInfo.detail }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="shopInfo">
    <ion-card-header>
      รายการอาหาร
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="shopInfo">
        <button ion-item *ngFor="let item of shopInfo.menus">
          <ion-icon name="{{item.icon}}" item-left></ion-icon>
          {{item.name}}
          <div class="item-note" item-right (click)="deleteMenu(item)">
            ลบ
          </div>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      เพิ่มเมนูใหม่
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label fixed>ชื่อเมนู</ion-label>
          <ion-input type="text" [(ngModel)]="newMenuName"></ion-input>
        </ion-item>
        <button ion-button color="primary" (click)="AddNewMenu()">เพิ่ม</button>
    </ion-card-content>
  </ion-card>
  <button ion-button color="primary" (click)="DeleteShop()">ลบร้าน</button>

</ion-content>
